<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="main.js"></script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKrBprQShOsU7aYu2QCDCnUCteRL_txi0&callback=initMap">
    </script>
 
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <div id="map"></div>
    <div id="menu"></div>
    <div id="tooltip" style="position: absolute; z-index: 1; pointer-events: none;"></div>
    <div id="tooltip2" style="position: absolute; z-index: 1; pointer-events: none;"></div>
    


</body> 